/* app global css */

@font-face {
    font-family: 'IRANSans';
    src: url('/fonts/IRANSansXNoEn-Black.ttf');
}

body{
    font-family: 'IRANSans' !important;
    margin: 0px !important;
    padding: 0px !important;
}